<div class="jumbotron">
	<h1>Hello, people of Chefsteps!</h1>
	<p>Andrew Kulinich is happy to present you a solution for email screening task.</p>
</div>
<email-enter
	ng-if="pane === 'enter'"
	emails="emails"
	set-emails="updateEmails(emailsList)"
	goto-unification="gotoPane('unification')"
></email-enter>

<email-unification
	ng-if="pane === 'unification'"
	emails="emails"
	set-emails="updateEmails(emailsList)"
	goto-entry="gotoPane('enter')"
></email-unification>