<form name="emailsForm">
	<div
		class="form-group"
		ng-class="{
			'has-error': emailsForm.emails.$invalid
		}"
	>
		<label for="emails-input" class="control-label">
			<span
				class="glyphicon glyphicon-exclamation-sign"
				ng-if="emailsForm.emails.$invalid"
			></span>
			List of email addresses
			<span class="badge">{{emails.length}}</span>
		</label>
		<textarea
			emails-list
			name="emails"
			ng-model="$ctrl.emails"
			ng-model-options="{ updateOn: 'blur' }"
			id="emails-input"
			class="emails-input form-control"
			placeholder="Please enter one email address per line"
		></textarea>
		<span
			ng-if="emailsForm.emails.$error.validateEmailsList"
			class="help-block"
		>
			You've entered invalid email address. Please fix to proceed.
		</span>
	</div>
	<button
		ng-click="generate(100000)"
		class="btn btn-info"
	>
		I'm too lazy - generate me 100.000 emails with ~50% duplicates
	</button>
	<button
		ng-click="$ctrl.gotoUnification()"
		ng-disabled="emailsForm.$invalid"
		class="btn btn-primary"
	>
		Enough data - lets go forward
	</button>
</form>
