<form
	name="filterForm"
	class="form-horizontal"
	ng-submit="filter(retries)"
>
	<div
		class="form-group"
		ng-class="{
			'has-error': filterForm.$submitted && filterForm.method.$invalid
		}"
	>
		<label class="control-label col-sm-4">
			How would you like to cook your emails?
		</label>
		<div class="btn-group col-sm-8" role="group">
			<select
				class="form-control"
				name="method"
				ng-model="method"
				required
			>
				<option value="set">ES6 Set()</option>
				<option value="manual">Self-written</option>
				<option value="object">Object hack</option>
			</select>
			<span
				class="help-block"
				ng-if="filterForm.$submitted && filterForm.method.$invalid"
			>Please choose filtering method</span>
		</div>
	</div>
	<blockquote
		ng-if="method == 'set'"
	>
		Use <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Set">ES6 Set global object</a>
		for filtering. I wasn't sure if it is a <i>built-in library function</i> so added this method as one of the options.
	</blockquote>
	<blockquote
		ng-if="method == 'manual'"
	>
		<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
		Our favorite. Reverse lookup with a sprinkle of hash memory.
	</blockquote>
	<blockquote
		ng-if="method == 'object'"
	>
		In all major browsers <code>Object</code> preserves order of keys being added and returns them in order.
		Unfortunately language spec defines an <code>Object</code> as <i>unordered collection of properties</i> so we
		cannot really rely on an order. Added as option just for fun - don't take it seriously.
	</blockquote>
	<div
		class="form-group"
		ng-class="{
			'has-error': filterForm.retries.$invalid
		}"
	>
		<label class="control-label col-sm-4">
			How many times to filter?
		</label>
		<div class="col-sm-8">
			<input
				class="form-control col-sm-8"
				type="number"
				name="retries"
				ng-model="retries"
				min="1"
				max="1000"
				required
			>
			<span class="help-block">
				<span ng-if="filterForm.retries.$valid">Bigger numbers will provide more accurate results</span>
				<span ng-if="filterForm.retries.$invalid">Number of retries should be between 1 and 1000 (because you don't want to hang up your browser)</span>

			</span>
		</div>
	</div>

	<button
		ng-click="$ctrl.gotoEntry()"
		class="btn btn-info"
	>
		Get me back to data entry
	</button>
	<button
		type="submit"
		class="btn btn-primary"
	>
		Do the job
	</button>
</form>
<br>
<div
	ng-if="filteredResults"
	class="panel panel-default"
>
	<div class="panel-heading">
		<h3 class="panel-title">Here are you results: {{filteredResults.length}} unique email address(es)</h3>
		<p>Average execution time is {{avgExecutionTime}} ms after {{retries}} run(s)</p>
	</div>
	<div class="panel-body">
		<button
			class="btn btn-primary"
			ng-if="!showResults"
			ng-click="setShowResults(true)"
		>
			Click here to output filtered results
		</button>
		<ul
			ng-if="showResults"
			class="list-unstyled"
		>
			<li ng-repeat="email in filteredResults">{{email}}</li>
		</ul>
	</div>
</div>
